.jobbra {
  float: right;
}
#bejelentablak {
  visibility: hidden;
  position: absolute;
  z-index: 3;
}

#bejelentablak div {
  cursor: pointer;
  text-align: center;
}
#regisztracio {
  visibility: hidden;
  position: absolute;
  z-index: 3;
}
#jelszocsere {
  visibility: hidden;
  position: absolute;
  z-index: 3;
}
#hibasbej {
  visibility: hidden;
}
#bejreg {
  visibility: visible;
}
#logout {
  visibility: hidden;
  cursor: pointer;
  z-index: 3;
}
#users {
  visibility: hidden;
  cursor: pointer;
  z-index: 3;
  background-color: darkslateblue;
  width: 50%;
}
#kijelentablak {
  visibility: hidden;
  position: absolute;
  z-index: 3;
}
#profil {
  visibility: hidden;
  position: absolute;
  z-index: 3;
}
html {
  background-color: #d1d1d1;
  font-weight: bold;
  font-family: sans-serif;
}

nav li {
  cursor: pointer;
}
#regisztral:hover {
  color: rgb(46, 46, 46);
  font-weight: bold;
}
#kivagyok:hover {
  color: rgb(206, 206, 206);
  font-weight: bold;
}
nav ul {
  list-style-type: none;
}

ul {
  right: -20px;
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
  cursor: pointer;
}
ul li:hover ul {
  display: block;
  right: 5px;
}
ul li ul {
  position: absolute;
  width: 100px;
  display: none;
}
ul li ul li {
  display: block;
  cursor: pointer;
}
ul li ul li:hover {
  background: #aaa;
}
#menu ul li {
  text-align: center;
}

.no {
  display: none;
}

#kivagyok {
  background-color: #000361;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 28px;
  font-size: 24px;
}

#kivagyok::after {
  background-color: #000361;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 28px;
  font-size: 24px;
}

#regisztral {
  background-color: white;
  color: white;
  color: #000361;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 28px;
  font-size: 24px;
}

h1 {
  font-size: 40px;
}
#ejreg::after {
  display: none;
}
