.jobbra {
    float: right;
}
#bejelentablak {
    visibility: hidden;
    position: absolute;
    z-index: 3;
}

#bejelentablak div {
    cursor: pointer;
    text-align: center;
}
#regisztracio {
    visibility: hidden;
    position: absolute;
    z-index: 3;
}
#hibasbej{
    visibility: hidden;
}
#bejreg{
    visibility: visible;
}
#logout{
    visibility: hidden;
    cursor: pointer;
    z-index: 3;
}
#kijelentablak{
    visibility: hidden;
    position: absolute;
    z-index: 3;
}
html{
    background-color: #2e2e2e;
    color: white;
}