<h1>BMI</h1>
<form action="/bmi" method="POST">

    <div>
        <label for="age">Kor: </label>
        <input type="number" id="age" name="age" required>
    </div>
    <div>
        <label for="weight">Súly: </label>
        <input type="number" id="weight" name="weight" required>
    </div>
    <div>
        <label for="height">Magasság: </label>
        <input type="number" id="height" name="height" required>
    </div>
    <button type="submit">Szamítás</button>
</form>