<h1>Body-Fat-Percentage</h1>
<form action="/Body-Fat-Percentage" method="POST">

    <div>
        <label for="recipe">Kor: </label>
        <input type="text" id="recipe" name="recipe" placeholder=" pl.: chicken" required>
    </div>
    <div>
        <tr>
            <td>Neme: </td>
            <td>
                <select id="neme">
                    <option value="female" selected>Nő</option>
                    <option value="male">Férfi</option>
                </select>
            </td>
        </tr>
    </div>
    <div>
        <label for="recipe">Súlya: </label>
        <input type="text" id="recipe" name="recipe" placeholder=" pl.: chicken" required>
    </div>
    <div>
        <label for="recipe">Magassága: </label>
        <input type="text" id="recipe" name="recipe" placeholder=" pl.: chicken" required>
    </div>
    <div>
        <label for="recipe">Nyak(kerület cm-ben): </label>
        <input type="text" id="recipe" name="recipe" placeholder=" pl.: chicken" required>
    </div>
    <div>
        <label for="recipe">Derék(kerület cm-ben): </label>
        <input type="text" id="recipe" name="recipe" placeholder=" pl.: chicken" required>
    </div>
    <div>
        <label for="recipe">Csípő(kerület cm-ben): </label>
        <input type="text" id="recipe" name="recipe" placeholder=" pl.: chicken" required>
    </div>
    <button type="submit">Küldés</button>
</form>