<h1>Body-Fat-Percentage</h1>
<form action="/Body-Fat-Percentage" method="POST">

    <div>
        <label for="age">Kor: </label>
        <input type="number" id="age" name="age" required>
    </div>
    <div>
        <label for="gender">Neme: </label>
        <input type="text" id="gender" name="gender" placeholder="male or female" required>
    </div>
    <div>
        <label for="weight">Súlya: </label>
        <input type="number" id="weight" name="weight" required>
    </div>
    <div>
        <label for="height">Magassága: </label>
        <input type="number" id="height" name="height" required>
    </div>
    <div>
        <label for="neck">Nyak(kerület cm-ben): </label>
        <input type="number" id="neck" name="neck" required>
    </div>
    <div>
        <label for="waist">Derék(kerület cm-ben): </label>
        <input type="number" id="waist" name="waist" required>
    </div>
    <div>
        <label for="hip">Csípő(kerület cm-ben): </label>
        <input type="number" id="hip" name="hip" required>
    </div>
    <button type="submit">Küldés</button>

</form>