<h1>Calorie calculator</h1>
<form action="/calorie" method="POST">

    <div>
        <h5>Csak angolul</h5>
        <label for="etel">Mi ettél ma: </label>
        <input type="text" id="etel" name="etel" placeholder=" Pl.:2 tomatoe 3 apple" required>
    </div>
    <button type="submit">Küldés</button>
</form>