<h1>Belépés</h1>
<form action="/login" method="POST">

    <div>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="pass">Jelszó: </label>
        <input type="pass" id="pass" name="pass" required>
    </div>
    <button type="submit">Belépés</button>
</form>
<a href="/register">Regisztráció</a>