<h1>Receptek</h1>
<form action="/recipe" method="POST">

    <div>
        <h5>Csak angolul</h5>
        <label for="recipe">Mit szeretnél főnzi? </label>
        <input type="text" id="recipe" name="recipe" placeholder=" pl.: chicken" required>
    </div>
    <button type="submit">Küldés</button>
</form>